<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.diagnostics>
    <switches>
      <!--
            This is a trace switch. The follow are its values
            0 - Off
            1 - TraceError - Error
            2 - TraceWarning - Error and Warning
            3 - TraceInfo - Error, Warning and Info
            4 - TraceVerbose - Everything
            All the information which are lower than this setting will be activated.
            eg.
            if you set the value 3. The following will be activated
            Error, Warning and Info
            -->
      <add name="TraceLevel" value="4" />
    </switches>
    <trace autoflush="true" indentsize="2">
      <listeners>
        <remove name="Default" />
        <add name="SSUITraceListenerMain" type="SSUI.Domain.Providers.SSUITraceListener, SSUI.Domain, Culture=neutral" traceOutputOptions="DateTime" />
        <!--<add name="SSUITraceListenerConsole" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="DateTime" />-->
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters/>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
</configuration>
